<nav class="sidebar">
        <img src="./public/img/gsblogo.png">
        <div class="dropdown first-sidebar">
                <span style="color: red"><a href="Rapports.php">Rapports</a></span>
                <div class="dropdown-content">
                        <a href="#">B</a>
                        <a href="#">B</a>
                </div>
        </div>
        <hr>
        <li><a href="#">T</a></li>
        <li><a href="#">TT</a></li>

        <a class="logout" href="#">Se Déconnecter</a>
</nav>
